.content {
    padding-left: 8rem;
    padding-right: 8rem;
    padding-top: 1rem;
    padding-bottom: 3rem;
    overflow: hidden;
}

.counter {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 3rem;
}

.counter h3{
    font-weight: normal;
    width: 200px;
    font-size: 18px;
}

.counter h2 {
    font-size: 80px;
}

/* CTA Cards */
/* Individual card */
.CTACard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 2rem;
    width: 350px;
    height: 450px;
    border-radius: 15px;
    border: 1px solid var(--header-color);
    background: #fafafa;
}

.CTACard h3 {
    font-size: 32px;
}

.CTACard a {
    cursor: pointer;
    background-color: var(--tfcpink);
    color: white;
    border: 1px solid var(--header-color);
    font-variant: all-small-caps;
    padding: 10px 20px;
    font-size: inherit;
    transition: ease-out 0.2s;
}

.CTACard a:hover {
    background-color: #863252;
    transition: ease-in 0.2s;
}

@media screen and (max-width:900px) {
    .CTACard {
        width: 200px;
        height: 270px;
        font-size: 10px;
        padding: 1.3rem;
    }

    .CTACard h3 {
        font-size: 20px;
    }

    .CTACard img {
        width: 50px;
    }

    .CTACard a {
        padding: 5px 10px;
    }
}
/* Card Page */
.Calltoact {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}

.rowOne {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.rowTwo {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

@media screen and (max-width:900px) {
    .content {
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 2rem;
    }

    .counter {
        display: flex;
        flex-direction: column;
    }

    .rowOne {
        flex-direction: column;
    }

    .rowTwo {
        flex-direction: column;
    }
}