@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --header-font: "Montserrat", Inter, sans-serif;
  --title-font: "Playfair Display", Times New Roman, serif;
  --body-font: "Lato", "Segoe UI", Tahoma, Geneva, Arial, sans-serif;
  --header-color:#3E403B;
  --title-color: #782835;
  --body-color: #000;
  --background: #F8F8F8;
  --tfcpink: #B94A75;
}

body {
  background-color: var(--background);
  font-family: var(--header-font);
  line-height: normal;
  font-size: 14px;
  font-weight: 400;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h2 {
  font-family: var(--header-font);
  color: var(--header-color);
  font-size: 28px;
  font-weight: 700;
}

nav div li:hover {
  text-decoration: underline;
  transition: 2s;
}

/* For larger screens */
@media (width >= 1050px) {
  h2 {
  font-family: var(--header-font);
  color: var(--header-color);
  font-size: 48px;
  font-weight: 700;
}
}
